*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background: #4c007d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

header{
    background: #1b004b;
    position: sticky;
    top: 0;
    z-index: 1;
}

.pagina-inicial{
    padding: 0 8.4rem;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.icone{
    font-size: 1.5rem;
    font-weight: 800; 
}

.icone img{
    height: 150px;
    width: 150px;
    object-fit: contain;

}

ul{
    display: flex;
    gap: .6rem;
    list-style-type: none;
    background: transparent;
    overflow: hidden;
}

li a{
    display: inline-block;
    padding: .3rem 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .7px;
}

li a:hover{
    color: #f988ff;
}

.pessoal{
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 2rem;
    column-gap: 6rem;
    align-items: center;
}

.pessoal h1{
    color: #bc4ed8;
    font-size: 4rem;
    font-weight: 800;
}

.foto{
    border-radius: 10px;
    width: 450px;
    border-top: 2px solid #bc4ed8;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin: auto;
    overflow: hidden;
}

.foto img{
    width: 100%;
    height: auto;
}

.redes-sociais{
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.4rem;
}

.redes-sociais a{
    display: grid;
    place-items: center;
    text-decoration: none;
    border: 1.6px solid #fff;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0.4rem;
    text-align: center;
}

.redes-sociais a:hover{
    color: #fff;
    background-color:#f988ff;
}